<template>
    <footer class="footer">
        <b-container>
            <b-row class="mt-2">
                <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-md-0 text-center text-md-left d-none d-lg-block">
                    <a href="/">
                        <div class="d-flex flex-row no-gutters align-items-end justify-content-start">
                            <div class="col-auto brand-logo">
                                <img loading="lazy" title="HIREtrades Logo" alt="HIREtrades Logo" data-src="/statics/optimise/images/logo-ht-icon.png" src="https://www.hiretrades.com.au/statics/optimise/images/logo-ht-icon.png" lazy="loaded">
                            </div>
                            <div class="hiretradesText">
                                <img loading="lazy" title="HIREtrades Logo" alt="HIREtrades Logo" data-src="/statics/optimise/images/logo-ht-text.png" src="https://www.hiretrades.com.au/statics/optimise/images/logo-ht-text.png" lazy="loaded">
                            </div>
                        </div>
                    </a>
                    <hr>
                    <div class="h4">Australia's most trusted trades provider</div>
                </div>
                <div class="col-12 col-sm-3 col-lg-2 mb-2 mb-md-0 text-center text-sm-left">
                    <div class="h5">Customers</div>
                    <hr>
                    <ul class="list-unstyled">
                        <li><a href="/" class="link-hover-underline">Get Quotes</a></li>
                        <li><a href="/" class="link-hover-underline">200+ Trades</a></li>
                        <li><a href="/" class="link-hover-underline">How it works</a></li>
                        <li><a href="/" class="link-hover-underline">Trades Directory</a></li>
                        <li><a href="/" class="link-hover-underline">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-3 col-lg-2 mb-2 mb-md-0 text-center text-sm-left">
                    <div class="h5">Tradies</div>
                    <hr>
                    <ul class="list-unstyled">
                        <li><a href="/" class="link-hover-underline">Register</a></li>
                        <li><a href="/" class="link-hover-underline">Login</a></li>
                        <li><a href="/" class="link-hover-underline">How it works</a></li>
                        <li><a href="/" class="link-hover-underline">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-3 col-lg-2 mb-2 mb-md-0 text-center text-sm-left">
                    <div class="h5">HIREtrades</div>
                    <hr>
                    <ul class="list-unstyled">
                        <li><a href="/" class="link-hover-underline">Contact Us</a></li>
                        <li><a href="/" class="link-hover-underline">Our Story</a></li>
                        <li><a href="/" class="link-hover-underline">Terms & Conditions</a></li>
                        <li><a href="/" class="link-hover-underline">Blogs</a></li>
                        <li><a href="/" class="link-hover-underline">Cost Guides</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-3 col-lg-2 mb-2 mb-md-0 text-center text-sm-left">
                    <div class="h5">Download our apps</div>
                    <hr>
                    <div class="d-flex flex-row flex-wrap no-gutters mb-3">
                        <div class="col-12 col-lg-6 mb-1 mb-lg-0">
                            <a href="/">
                                <img title="Apple Store" src="https://s3.amazonaws.com/hiretradesweb/designstaging/mobile/ios-black.png" alt="Apple Store" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-12 col-lg-6 pl-lg-50 playStore pstore">
                            <a href="/">
                                <img title="Google Play Store Download App" height="100" src="https://s3.amazonaws.com/hiretradesweb/designstaging/mobile/android-black.png" alt="Google Play Store Download App" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="h5">Follow Us</div>
                        <hr>
                        <ul class="list-unstyled list-inline mr-0">
                            <li class="list-inline-item mr-0 mb-sm-2">
                                <a href="/">
                                    <i class='bx bxl-facebook' ></i>
                                </a>
                            </li>
                            <li class="list-inline-item mr-0 mb-sm-2">
                                <a href="/">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li class="list-inline-item mr-0 mb-sm-2">
                                <a href="/">
                                    <i class='bx bxl-instagram' ></i>
                                </a>
                            </li>
                            <li class="list-inline-item mr-0 mb-sm-2">
                                <a href="/">
                                    <i class='bx bxl-pinterest' ></i>
                                </a>
                            </li>
                            <li class="list-inline-item mr-0 mb-sm-2">
                                <a href="/">
                                    <i class='bx bxl-linkedin' ></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </b-row>
            <hr>
            <b-row class="justify-content-between">
                <div class="col-12 col-md-auto text-center text-md-left">
                    <div class="d-none d-lg-block">
                        <small>© 2020 - www.HIREtrades.com.au | All Rights Reserved</small>
                    </div>
                    <div class="d-block d-lg-none">
                        <p class="mb-1">© 2020 - www.HIREtrades.com.au</p>
                        <p>All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-12 col-md-auto text-center text-md-right">
                    <div class="d-none d-lg-block">
                        <a href="/"><small>Privacy Policy</small></a>
                        <span class="small text-muted"> | </span>
                        <a href="/"><small>Site Map</small></a>
                        <span class="small text-muted"> | v_2.0.78</span>
                    </div>
                    <div class="d-block d-lg-none">
                        <a href="/"><p>Privacy Policy</p></a>
                    </div>
                </div>
                
            </b-row>
        </b-container>
    </footer>
    
</template>

<script>
export default {
        name: 'Footer',
    }
</script>
    
<style scoped>
footer.footer {
    padding: 1rem 2.2rem;
}

footer {
    background-color: #e6eaee;
}

.hiretradesText {
    margin-left: 13px;
    margin-bottom: 3px;
}

hr {
    border-top: 1px solid #bfbfbf!important;
    width: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-left: 0;
}

li {
    margin-bottom: 5px;
    line-height: 28px;
}

.playStore {
    padding-left: .5rem;
}

.h5, .h4 {
    margin-bottom: .5rem;
    font-family: Rubik,Helvetica,Arial,serif;
    font-weight: 400;
    line-height: 1.2;
    color: #475f7b;
}

a {
    margin-left: .3rem;
    color: #727e8c;
}

small{
    font-size: 80%;
    font-weight: 400;
    color: #666!important;
}

.pstore {
    margin-left: s;
}
</style>