<template>
    <div>
        <b-navbar toggleable="lg" type="light" variant="" class="header-navbar" fixed="top">
            <b-navbar-brand href="#">
                <div class="d-flex flex-row no-gutters align-items-end justify-content-center">
                    <div class="col-auto brand-logo" >
                        <img src="https://www.hiretrades.com.au/statics/optimise/images/logo-ht-icon.png" alt="logo">
                    </div>
                    <div class="col-auto brand-text mr-5" >
                        <img src="https://www.hiretrades.com.au/statics/optimise/images/logo-ht-text.png" alt="logo2">            
                    </div>
                </div>
            </b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav class="mr-auto list-unstyled">
                <b-nav-item class="mr-3" href="#"><span class="text-bold-500">Trades</span></b-nav-item>
                <b-nav-item class="mr-3" href="#"><span class="text-bold-500">Cost Guides</span></b-nav-item>
                <b-nav-item  href="#"><span class="text-bold-500">Blogs</span></b-nav-item>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-item  href="#"><span class="text-bold-500">Get Quotes</span></b-nav-item>
                <b-button class="ml-4" variant="outline-primary">Register Business</b-button>
                <b-nav-item class="ml-4" href="#"><span class="text-bold-500">Login</span></b-nav-item>
            </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
//import { defineComponent } from '@vue/composition-api'

export default {
    name: 'NavBar',
}
</script>

<style scoped>
    .header-navbar {
        border-bottom: 1px solid #dfe3e7;
    }

    .brand-text {
        margin-left: 13px;
        margin-bottom: 3px;
    }

    a {
        font-size: 16px;
        color: #666 !important;
    }

    .text-bold-500 {
        font-weight: 600 !important;
    }

    .header-navbar {
    background-color: white;
    position: fixed;
    width: 100%;
}
    
</style>