<template>
    <b-container class="sectionContainer">
        <div class="h2 text-center mt-5 text-bold-400">
            How HIREtrades works
        </div>
        <b-row class="mt-5">
            <b-col class="col-12 col-md-4 text-center mb-5">
                <b-row cols="2">
                    <b-col cols="3" class="hello">
                        <div class="justify-content-center">
                            <div class="display-2 text-primary">1</div>
                        </div>
                    </b-col>
                    <b-col cols="9" class="d-flex align-items-center">
                        <div class="d-flex flex-column">
                            <div class="h3">Post a job</div>
                            <div class="">It takes 2 minutes</div>
                        </div>
                    </b-col>
                </b-row>
            </b-col>
            <b-col class="col-12 col-md-4 text-center mb-5">
                <b-row cols="2">
                    <b-col cols="3" class="hello">
                        <div class="justify-content-center">
                            <div class="display-2 text-primary">2</div>
                        </div>
                    </b-col>
                    <b-col cols="9" class="d-flex align-items-center">
                        <div class="d-flex flex-column">
                            <div class="h3">Get quotes</div>
                            <div class="">Tradies get in touch</div>
                        </div>
                    </b-col>
                </b-row>
            </b-col>
            <b-col class="col-12 col-md-4 text-center mb-5">
                <b-row cols="2">
                    <b-col cols="3" class="hello">
                        <div class="justify-content-center">
                            <div class="display-2 text-primary">3</div>
                        </div>
                    </b-col>
                    <b-col cols="9" class="d-flex align-items-center">
                        <div class="d-flex flex-column">
                            <div class="h3">Rate and review</div>
                            <div class="">Job complete. Leave feedback</div>
                        </div>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-container>   
</template>

<script>

export default {
    name: 'Section2',
}
</script>

<style scoped>
    .hello {
        font-size: 4rem;
    }

    .sectionContainer {
        height: 100%;
        padding-bottom: 200px;
    }

    .text-bold-400 {
        font-weight: 400;
    }

    .h2, .h3 {
        margin-bottom: .5rem;
        font-family: Rubik,Helvetica,Arial,serif;
        font-weight: 400;
        line-height: 1.2;
        color: #475f7b;
    }

    .display-2 {
        font-size: calc(51px + (60 - 51) * ((100vw - 300px)/ (1600 - 300)));
        font-weight: 300;
        line-height: 1.2;
    }

    body {
        font-size: 16px;
        color: #666!important;
        font-family: Helvetica,Arial,serif;
    }
</style>