<template>
    <section class="ht-section d-none d-lg-block">
    <div fluid class="sectionBg pt-4">
        <div class="container">
            <b-row>
            <div class="col-12 col-md-8 my-auto">
                    <div class="h1 mb-4 mt-4">Download the HIREtrades App</div>
                
            <!-- <div class="d-flex flex-row flex-wrap no-gutters align-items-stretch align-items-md-center justify-content-center">                -->
                <div class="mb-4">
                    <div class="d-flex flex-row flex-wrap align-items-center mb-1">
                        <div class="col-auto pr-0 pl-0 text-muted">
                            <i class='bx bxs-purchase-tag' undefined ></i>
                        </div>
                        <div class="col">
                            <div class="h4">Stay updated</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap align-items-center mb-1">
                        <div class="col-auto pr-0 pl-0 text-muted">
                            <i class='bx bxs-purchase-tag' undefined ></i>
                        </div>
                        <div class="col">
                            <div class="h4">Chat on the go</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap align-items-center mb-1">
                        <div class="col-auto pr-0 pl-0 text-muted">
                            <i class='bx bxs-purchase-tag' undefined ></i>
                        </div>
                        <div class="col">
                            <div class="h4">Request anytime</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap align-items-center mb-1">
                        <div class="col-auto pr-0 pl-0 text-muted">
                            <i class='bx bxs-purchase-tag' undefined ></i>
                        </div>
                        <div class="col">
                            <div class="h4">Attach files directly</div>
                        </div>
                    </div>
                </div>
                
            <!-- </div> -->
            <div class="d-flex flex-row d-inline-flex flex-wrap justify-content-start align-items-center pb-5">
                    <div class="col-8 col-sm-6 col-md-7 col-lg-5 mb-2 pl-0">
                        <div class="d-inline-flex">
                            <a href="#">
                                <img alt="IOS app download HIREtrades" title="IOS app download HIREtrades" class="img-app-download w-100 img-fluid" data-src="https://hiretrades2.s3.amazonaws.com/htweb-assets/homepage/ios-app-download.webp" src="https://hiretrades2.s3.amazonaws.com/htweb-assets/homepage/ios-app-download.webp" lazy="loaded">
                            </a>
                        </div>
                    </div>
                    <div class="col-8 col-sm-6 col-md-7 col-lg-5 mb-2 pl-0">
                        <div class="d-inline-flex">
                            <a href="#">
                                <img alt="IOS app download HIREtrades" title="IOS app download HIREtrades" class="img-app-download w-100 img-fluid" data-src="https://hiretrades2.s3.amazonaws.com/htweb-assets/homepage/android-app-download.webp" src="https://hiretrades2.s3.amazonaws.com/htweb-assets/homepage/android-app-download.webp" lazy="loaded">
                            </a>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-4">
                    <img id="htapp_phone" alt="HIREtrades App" class="htapp_img" data-src="https://hiretrades2.s3.amazonaws.com/htweb-assets/homepage/mockup-iphone-thin.webp" src="https://hiretrades2.s3.amazonaws.com/htweb-assets/homepage/mockup-iphone-thin.webp" lazy="loaded">
                </div>
            </b-row>
        </div>
    </div>
    </section>
</template>

<script>
export default {
    name: 'Section5',
}
</script>

<style scoped>
    .sectionBg {
        background-color: #f2f4f4;
        height: 100%
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .ht_section {
        padding: 5rem 0;
        background-color: #fff;
}

.h4, .h1 {
    margin-bottom: .5rem;
    font-family: Rubik,Helvetica,Arial,serif;
    font-weight: 400;
    line-height: 1.2;
    color: #475f7b;
}

</style>