<template>
    <b-container class="sectionContainer">
        <div class="text-center">
            <div class="h2 text-bold-400">Inspirational Panel</div>
        </div>
        <b-row class="mt-5">
            <b-col class="col-12 col-lg-8">
                <b-card no-body class="overflow-hidden" style="">
                    <b-row no-gutters>
                    <b-col class="col-5">
                        <b-card-img src="https://hiretrades2.s3.amazonaws.com/htweb-assets/homepage/accounting-balance-banking.webp" alt="Image" class="rounded-0 ht_card_img"></b-card-img>
                    </b-col>
                    <b-col class="col-7">
                        <b-card-body>
                        <b-card-title class="h3">Cost Guides</b-card-title>
                        <b-card-text>
                            <p>Research to assist consumers with Trades pricing.</p>
                            <a href="#">View prices</a>
                        </b-card-text>
                        </b-card-body>
                    </b-col>
                    </b-row>
                </b-card>
                <b-card no-body class="overflow-hidden" style="">
                    <b-row no-gutters>
                    <b-col class="col-5">
                        <b-card-img src="https://hiretrades2.s3.amazonaws.com/htweb-assets/homepage/organise.webp" alt="Image" class="rounded-0 ht_card_img"></b-card-img>
                    </b-col>
                    <b-col class="col-7">
                        <b-card-body>
                        <b-card-title class="h3">Blogs</b-card-title>
                        <b-card-text>
                            <p>Articles of interest and great ideas</p>
                            <a href="#">Discover more</a>
                        </b-card-text>
                        </b-card-body>
                    </b-col>
                    </b-row>
                </b-card>
            </b-col>
            <b-col class="col-12 col-lg-4">
                <b-card
                    img-src="https://hiretrades2.s3.amazonaws.com/htweb-assets/homepage/blueprint-designing-diagram.webp"
                    img-alt="Image"
                    img-top
                    tag="article"
                    style="max-width: 20rem;"
                    class="mb-2 h-100"
                >
                    <b-card-title class="h3">Ask a tradie</b-card-title>
                    <b-card-text>
                        <p>Our network of Tradies can help answer your questions.</p>
                        <a href="#">What's your question?</a>
                    </b-card-text>
                </b-card>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
    name: 'Section3',
}

</script>

<style scoped>
    .ht_card_img {
        background-size: cover;
    }

    .h2, h2 {
        font-size: 2.13rem;
        margin-bottom: .5rem;
        font-family: Rubik,Helvetica,Arial,serif;
        line-height: 1.2;
        color: #475f7b;
    }

    .h3, h3 {
        font-size: 1.73rem;
        font-family: Rubik,Helvetica,Arial,serif;
        font-weight: 400;
        line-height: 1.2;
        color: #475f7b;
    }

    p {
        color: #666;
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: 2rem;
    }

    .text-bold-400 {
        font-weight: 400;
    }

    .sectionContainer {
        height: 100%;
        padding-bottom: 200px;
    }

    .card {
        border: 0 solid #dfe3e7;
        border-radius: .267rem;
        margin-bottom: 2.2rem;
        box-shadow: -8px 12px 18px 0 rgb(25 42 70 / 13%);
    }
</style>