<template>
<div>
    <b-container class="sectionContainer">
        <b-row align-h="center">
            <b-col  class="col-10 col-md-6 col-lg-6">
                <h1 class="text-center">Australia's most trusted trades provider</h1>
                <b-form @submit="onSubmit" @reset="onReset" v-if="show" class="pt-5">
                    <b-form-group
                        id="input-group-1"
                        label="What trade do you need?"
                        label-for="input-1"
                        class="label-htypeahead"
                    >
                        <b-form-input
                        id="input-1"
                        v-model="form.email"
                        type="email"
                        placeholder="e.g Plumber, Electricians"
                        required
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group id="input-group-2" label="Postcode or Suburb:" label-for="input-2" class="label-htypeahead pt-2">
                        <b-form-input
                        id="input-2"
                        v-model="form.name"
                        placeholder="e.g Sydney"
                        required
                        ></b-form-input>
                    </b-form-group>
                    <div class="text-center pt-4">
                        <b-button type="submit" variant="danger" size="lg">Post a Job</b-button>
                    </div>
                </b-form>                
            </b-col>
        </b-row>
    </b-container>
</div>
</template>

<script>

export default {
    name: 'Section1',

    data() {
      return {
        form: {
          email: '',
          name: '',
        },
        foods: [{ text: 'Select One', value: null }, 'Carrots', 'Beans', 'Tomatoes', 'Corn'],
        show: true
      }
    },
    methods: {
      onSubmit(event) {
        event.preventDefault()
        alert(JSON.stringify(this.form))
      },
      onReset(event) {
        event.preventDefault()
        // Reset our form values
        this.form.email = ''
        this.form.name = ''
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }

</script>

<style scoped>
    h1 {
        font-size: 60px;
        color: #475f7b;
        font-weight: 600;
  }

    .label-htypeahead {
        color: #475f7b;
        font-size: 18px;
    }

    .sectionContainer {
        height: 100%;
        padding-bottom: 200px;
        padding-top: 100px;
    }

</style>