<template>
    <b-container class="mt-5 sectionContainer">
        <div class="text-center">
            <h2>What homeowners are saying</h2>
        </div>
            <b-card-group class="mt-5">
                <b-card>
                    <b-card-text class="text-center">
                        <img class="rounded-circle mb-5" src="https://hiretrades2.s3.amazonaws.com/htweb-assets/homepage/jodie.webp">
                        <p class="pt-md-1 pt-sm-50 lineh-32"><i>"You make life really easy for last minute people like me. I'm always time challenged and not wanting to spend the time chasing Tradies. Two minutes to post a job. Right price, right quality, right timing. No stress whatsoever. Thanks HIREtrades."</i></p>
                        <h5>Jodie, NSW</h5>
                    </b-card-text>
                </b-card>
                <b-card>
                    <b-card-text class="text-center">
                        <img class="rounded-circle mb-5" src="https://hiretrades2.s3.amazonaws.com/htweb-assets/homepage/kenvacation.webp">
                        <p><i>"This has to be the best way to go. Goodbye to searching the internet for hours or fumbling through business directories. HIREtrades do it all for me and it only take a couple of minutes to post the job. Great work guys"</i></p>
                        <h5>Tony, WA</h5>
                    </b-card-text>
                </b-card>
                <b-card>
                    <b-card-text class="text-center">
                        <img class="rounded-circle mb-5" src="https://hiretrades2.s3.amazonaws.com/htweb-assets/homepage/joseph-sydney.webp">
                        <p><i>"I can refurbish my entire kitchen sourcing the trades from HIREtrades. Plumbers, electricians, cabinet-makers, tilers, floor coverings and painters – it is so convenient. Saves me time and money. I get all the Quotes for free and the app is really easy to use. You can count on my repeat business."</i></p>
                        <h5>Keith, NSW</h5>
                    </b-card-text>
                </b-card>
            </b-card-group>
    </b-container>
    
</template>

<script>
export default {
    name: 'Section4',
}
</script>

<style scoped>
    .card {
        position: relative;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        margin-bottom: 2.2rem;
        box-shadow: -8px 12px 18px 0 rgb(25 42 70 / 13%);
        transition: all .3s ease-in-out;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid #dfe3e7;
        border-radius: .267rem;
    }

    img {
        width: 70px;
        height: 70px;
    }

    p, span {
        color: #666;
    }

    .sectionContainer {
        height: 100%;
        padding-bottom: 200px;
    }

</style>