<template>
    <section>
        <b-container class="text-center mt-5 sectionContainer">
            <div class="h2 text-bold-400">Our Top Trades</div>
            <b-row cols="5" class="mt-5">
                <b-col>
                    <div class="d-flex flex-column">
                        <div class="h3 my-2">Sydney</div>
                        <a href="#" class="my-2">Painters</a>
                        <a href="#" class="my-2">Pest Control</a>
                        <a href="#" class="my-2">Electricians</a>
                        <a href="#" class="my-2">Plumbers</a>
                        <a href="#" class="my-2">Concreting</a>
                        <a href="#" class="my-2">Carpenters</a>
                    </div>
                </b-col>
                <b-col>
                    <div class="d-flex flex-column">
                        <div class="h3 my-2">Melbourne</div>
                        <a href="#" class="my-2">Handyman</a>
                        <a href="#" class="my-2">Electricians</a>
                        <a href="#" class="my-2">Concreting</a>
                        <a href="#" class="my-2">Painters</a>
                        <a href="#" class="my-2">Plumbers</a>
                        <a href="#" class="my-2">Bricklaying</a>
                    </div>
                </b-col>
                <b-col>
                    <div class="d-flex flex-column">
                        <div class="h3 my-2">Brisbane</div>
                        <a href="#" class="my-2">Pest Control</a>
                        <a href="#" class="my-2">Painters</a>
                        <a href="#" class="my-2">Fencing</a>
                        <a href="#" class="my-2">Handyman</a>
                        <a href="#" class="my-2">Electricians</a>
                        <a href="#" class="my-2">Air Conditioning</a>
                    </div>
                </b-col>
                <b-col>
                    <div class="d-flex flex-column">
                        <div class="h3 my-2">Perth</div>
                        <a href="#" class="my-2">Plumbers</a>
                        <a href="#" class="my-2">Painters</a>
                        <a href="#" class="my-2">Carpenters</a>
                        <a href="#" class="my-2">Electricians</a>
                        <a href="#" class="my-2">Air Conditioning</a>
                        <a href="#" class="my-2">Kitchen</a>
                    </div>
                </b-col>
                <b-col>
                    <div class="d-flex flex-column">
                        <div class="h3 my-2">Adelaide</div>
                        <a href="#" class="my-2">Painters</a>
                        <a href="#" class="my-2">Fencing</a>
                        <a href="#" class="my-2">Builder</a>
                        <a href="#" class="my-2">Electricians</a>
                        <a href="#" class="my-2">Handyman</a>
                        <a href="#" class="my-2">Air Conditioning</a>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </section>
    
</template>

<script>
export default {
    name: 'Section6',
}
</script>

<style scoped>
    .h3 {
        font-family: Rubik,Helvetica,Arial,serif;
        font-weight: 400;
        line-height: 1.2;
        color: #475f7b;
    }

    a {
        font-size: 16px;
        color: #666;
    }

    .text-bold-400 {
        font-weight: 400;
        margin-bottom: .5rem;
        font-family: Rubik,Helvetica,Arial,serif;
        line-height: 1.2;
        color: #475f7b;
        font-size: 2.13rem;
    }

    .sectionContainer {
        height: 100%;
        padding-bottom: 200px;
    }

    @media only screen and (max-width: 768px) {
        .sectionContainer {
            display: none;
        }
}
</style>