<template>
  <div>
    <NavBar />
    <Section1 />
    <Section2 />
    <Section3 />
    <Section4 />
    <Section5 />
    <Section6 />
    <Footer />
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue'
import Section1 from './components/Section1.vue'
import Section2 from './components/Section2.vue'
import Section3 from './components/Section3.vue'
import Section4 from './components/Section4.vue'
import Section5 from './components/Section5.vue'
import Section6 from './components/Section6.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'App',
  components: {
    NavBar,
    Section1,
    Section2,
    Section3,
    Section4,
    Section5,
    Section6,
    Footer
  }
}
</script>

<style>
  

</style>
